* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #eeeeee;
}

h2 {
    size: 38px;
    font-style: italic;
}

body {
    background-color: darkslategrey;
}

.button {
    border: none;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    width: 90%;
    height: 130px;
    font-size: xx-large;
    margin: 4px 4px;
}

.buttonA {
    background-color: rgb(30, 64, 255);
}

.buttonB {
    background-color: rgb(82, 82, 255);
}

.buttonTitle {
    background-color: rgb(82, 82, 255);
    font-weight: 700;
}

.buttonA:hover {
    background-color: darkblue;
}

.buttonB:hover {
    background-color: darkblue;
}

.buttonTitle:hover {
    background-color: darkblue;
}

.buttonA:active {
    background-color: whitesmoke;
}

.buttonB:active {
    background-color: whitesmoke;
}
