/* This CSS document applies to 'pages' */

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.buttonar {
    border: none;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    display: inline-block;
    width: 45%;
    height: 100px;
    font-size: xx-large;
    margin: 4px 4px;
}