/* This CSS document applies to 'pages' */

* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background-color: lightslategray;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    border: none;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    width: 90%;
    font-size: xx-large;
    margin: 4px 4px;
}

.buttonar {
    border: none;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    display: inline-block;
    width: 45%;
    font-size: xx-large;
    margin: 4px 4px;
}

.buttonA {
    background-color: rgb(30, 64, 255);
}

.buttonB {
    background-color: rgb(82, 82, 255);
}